service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{user} {
      // A read rule can be divided into get and list rules
    	allow read;
      // Applies to writes to nonexistent documents
    	allow create;
      // Applies to writes to existing documents
      allow update: if isSignedIn() && isAccountOwner();
      // Applies to delete operations
      allow delete: if isSignedIn() && isAccountOwner();
    }
    
    match /submits/{document=**} {
      // A read rule can be divided into get and list rules
    	allow read: if isSignedIn() && isSubmitOwner();
      // Applies to delete operations and to existing documents
      allow update, delete: if isSignedIn() && isSubmitOwner();
      // Applies to writes to nonexistent documents
    	allow create: if isSignedIn();
    }

     /// Functions ///
    function isAccountOwner() {
      return request.auth.uid == resource.data.user_id;
    }

    function isSubmitOwner() {
      return request.auth.uid == resource.data.user;
    }

    function isSignedIn() {
       return request.auth != null;
    }
  }
}